#score_graph {
  position: relative;
  background: #FBFBFB;
}

#score_title {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 15px;
  line-height: 24px;
  color: #20253a;
  margin: 24px 0 0 30px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score_legend_nbr {
    margin-bottom: -20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  color: #282d30;
}

#score_legend_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #74798c;
}
