#dailyactivities {
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  padding: 20px;
  margin: 0 20px 0 0;
}
#dailyactivities_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

#dailyactivities_title p {
  font-size: 15px;
  line-height: 24px;
}

#dailyactivities_legend {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #74798c;
  margin-right: 15px;
}

.circleBase {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 12px;
}

.circleBlack {
  background: #282d30;
}

.circleRed {
  background: #e60000;
}
