#lineChart {
  position: relative;
}

#lineChart_title {
  position: absolute;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;

  padding: 30px 29px;
}

#timeschart_tooltip {
  height: 25px;
  width: 39px;
  background: #ffffff;
}

#timeschart_tooltip_text {
  font-size: 8px;
  line-height: 24px;
  text-align: center;
  color: black;
}

#cursor_stroke {
  height: 50px;
  width: 50px;
  color: black;
  opacity: 0.5;
}
